body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	background: #263143;
}

p {
	margin: 6px 0px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}

.error {
  color: red;
}

.content {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.content .title, .content .info, .content footer {
	padding: 30px 0px;
	display: block;
}

.content h1, .content h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 48px;
	font-weight: 400;
	border-bottom: 4px solid rgba(255, 255, 255, 0.5);
	display: inline;
	margin: 0px;
}

.superdesk .content h1, .superdesk .content h2, .liveblog .content h1, .liveblog .content h2, .citizendesk .content h1, .citizendesk .content h2 {
	border-bottom: 4px solid rgba(30, 176, 108, 0.5);
}

.airtime .content h1, .airtime .content h2 {
	border-bottom: 4px solid rgba(255, 145, 35, 0.5);
}

.newscoop .content h1, .newscoop .content h2 {
	border-bottom: 4px solid rgba(0, 137, 207, 0.5);
}

.booktype .content h1, .booktype .content h2 {
	border-bottom: 4px solid rgba(170, 50, 145, 0.5);
}

.content .author {
	margin: 30px 0px;
}

.content figure {
	margin: 0px;
	float: left;
}

.content figure img {
	margin-right: 20px;
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	border-radius: 50%; 
}

.content .name {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	font-weight: 400;
}

.content .email {
	font-size: 18px;
	font-weight: 300;
}

.content .info span, footer .version span, .language ul li {
	border-left: 1px solid #fff;
	display: inline-block;
	line-height: 14px;
	padding: 0px 10px;
	font-weight: 300;
}

.content .info span:first-child, footer .version span:first-child, .language ul li:first-child {
	padding-left: 0px;
	border-left: none;
}

.content .info p {
	font-weight: 400;
}

footer {
	position: relative;
	margin-top: 30px;
}

footer .version {
	display: inline-block;
	font-size: 15px;
	opacity: 0.6;
}

footer img {
	position: absolute;
	top: -10px;
	right: 0px;
	margin-top: 0px;
}

.colors {
	margin-top: 30px;
}

.colors span {
	width: 20%;
	height: 10px;
	float: left;
}

.orange {
	background: #ff9123;
}

.blue {
	background: #0089cf;
}

.green {
	background: #1eb06c;
}

.purple {
	background: #aa3291;
}

.yellow {
	background: #c8af00;
}

.language p {
	display: inline-block;
	width: 26%;
}

.language ul {
	display: inline-block;
	padding-left: 0px;
	list-style: none;
}

.language ul li {
	display: inline-block;
}

.language ul li a {
	text-decoration: none;
}

.language ul li.selected a {
	border-bottom: 4px solid rgba(0, 137, 207, 0.5);
}

.content .formitem {
	margin: 10px 0px;
}

.content form label {
	width: 26%;
	display: inline-block;
}

.content form input, .content form select {
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	padding: 10px;
	width: 65%;
	box-sizing: border-box;
	display: inline-block;
	background: #313c4d;
	box-shadow: inset 0 0 1px #232a36;
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	border-radius: 20px;
	border: none;
	outline: none;
	text-indent: 10px;
}

.content form input.formshort {
	width: 32%;
}

.content form input:hover {
	background: #344052;
}

.content form select {
	
}

.content input[type="submit"] {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	background: #0089cf;
	width: 32%;
	min-width: 225px;
	margin-right: 20px;
	cursor: pointer;
}

.content input[type="submit"]:hover {
	background: #007BB9;
}

.content input[type="reset"] {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	background: #1e2737;
	width: 32%;
	min-width: 225px;
	cursor: pointer;
}

.content input[type="reset"]:hover {
	background: #141c29;
}

.content input[type="file"] {
	text-indent: 0px;
}
